@{ 
    Layout = "_layout";
}
<div class="cart-lg cart-xl cart-md cart-sm cart-xs">
    <div class="card">
        <div class="card-body">
            <h5 class="text-danger">شما به عملیات مورد نظر دسترسی ندارید</h5>
        </div>
    </div>
</div>
