
@{
    ViewData["Title"] = "GetDetailsOrdersByDateAndStore";
    Layout = "~/Areas/Stores/Views/Shared/_Layout.cshtml";

    var StoreId = ViewBag.StoreId.ToString(System.Globalization.CultureInfo.InvariantCulture);
    var OrderDate = ViewBag.OrderDate;
}

<input type="hidden" value="@ViewBag.StoreId"   id="txtStoreId"/>
<input type="hidden" value="@ViewBag.OrderDate" id="txtOrderDate"/>
<input type="hidden" value="@ViewBag.OrderTime" id="txtOrderTime"/>

<div class="card ">
    <div class="card-header">
        <h5>لیست سفارشات</h5>
    </div>
    <div class="card-body">
        <div class="col col-md-12 col-sm-12 col-lg-12" id="divProfile">

        </div>
    </div>
    <div class="card-header">
        <a class="btn btn-primary" href="/Stores/Reports/GetSummeryOrdersByDateAndStore?storeId=@StoreId&orderDate=@OrderDate" >بازگشت</a>
    </div>

</div>

@section Scripts
{
    <script>

        function callSearch() {

            $('#divProfile').html('');

            var sDate = $("#txtOrderDate").val();
            var sId = $("#txtStoreId").val();
            var oTime = $('#txtOrderTime').val();

            if (sDate == null || sDate.trim() == "") {
                toastr.error('مقادیر صحیح نیست');
                return;
            }

            if (sId == null || sId.trim() == "") {
                toastr.error('مقادیر صحیح نیست');
                return;
            }

            if (oTime == null || oTime.trim() == "") {
                toastr.error('مقادیر صحیح نیست');
                return;
            }

            var postData = {
                'orderDate': sDate,
                'storeId': sId,
                'orderTime':oTime
            };

            $.ajax(
                {
                    url: '/Stores/Reports/GetDetailsOrdersByDateAndStorePost',
                    type: 'post',
                    data: postData,
                    beforeSend: function () {
                        showBehsamLoading();
                    },
                    success: function (result, status, err) {
                        $('#divProfile').html(result);
                    },
                    error: function (request, status, error) {
                        console.log(request);
                    },
                    complete: function () {
                        hideBehsamLoading();
                    }
                });

        }

        $(document).ready(function () {
            callSearch();
        });

    </script>
}