@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="FT Technologies Private Limited">
    <meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />
    <!-- Title -->
    <title>قالب کال سنتر</title>
    <!-- Favicon -->
    @*<link rel="icon" href="~/admin/Content/assets/img/brand/favicon.png" type="image/x-icon" />*@
    <link rel="icon" href="~/admin/Content/assets/images/logo/logoshort.png" type="image/x-icon" />

    <!-- Icons css -->
    <link href="~/admin/Content/assets/css/icons.css" rel="stylesheet">
    <!--  Custom Scroll bar-->
    <link href="~/admin/Content/assets/plugins/mscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <!--  Sidebar css -->
    <link href="~/admin/Content/assets/plugins/sidebar/sidebar.css" rel="stylesheet">
    <!-- Sidemenu css -->
    <link rel="stylesheet" href="~/admin/Content/assets/css-rtl/sidemenu.css">
    <!-- Sidemenu-respoansive-tabs css -->
    <link href="~/admin/Content/assets/plugins/sidemenu-responsive-tabs/css/sidemenu-responsive-tabs.css" rel="stylesheet">
    <!--- Style css -->
    <link href="~/admin/Content/assets/css-rtl/style.css" rel="stylesheet">
    <!--- Dark-mode css -->
    <link href="~/admin/Content/assets/css-rtl/style-dark.css" rel="stylesheet">
    <!---Skinmodes css-->
    <link href="~/admin/Content/assets/css-rtl/skin-modes.css" rel="stylesheet">

    <!---Switcher css-->
    <link href="~/admin/Content/assets/switcher/css/switcher-rtl.css" rel="stylesheet">
    <link href="~/admin/Content/assets/switcher/demo.css" rel="stylesheet">

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />

</head>

<body class="main-body bg-primary-transparent">
    <!-- Loader -->
    <div id="global-loader">
        <img src="~/admin/Content/assets/img/loader.svg?fill=red" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent">
                <div class="row wd-100p mx-auto text-center">
                    <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                        <img src="~/admin/Content/assets/img/ownimage/CallCenter-Back.jpg" class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                    </div>
                </div>
            </div>
            <!-- The content half -->
            <div class="col-md-6 col-lg-6 col-xl-5 bg-white">
                <div class="login d-flex align-items-center py-2">
                    <!-- Demo content-->
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin">
                                    <div class="mb-5 d-flex">
                                        <a href="#">
                                            <img src="~/admin/Content/assets/images/logo/logo.png" class="sign-favicon ht-40" alt="logo">
                                        </a>
                                        @*<h1 class="main-logo1 ml-1 mr-0 my-auto tx-28" style="color: #f2003c">افق کوروش</h1>*@
                                    </div>
                                    <div class="card-sigin">
                                        <div class="main-signup-header">
                                            <h2 style="color: #4d4d4f">به بخش کال سنتر خوش آمدید!</h2>
                                            <h5 class="font-weight-semibold mb-4">
                                                لطفا برای ادامه وارد شوید.
                                            </h5>
                                            @*<form action="#">*@
                                            <div class="form-group">
                                                <label>نام کاربری</label> <input id="txtUserName" class="form-control" placeholder="نام کاربری را وارد کنید" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>رمز عبور</label> <input id="txtPassword" class="form-control" placeholder="رمز عبور را وارد کنید" type="password">
                                            </div><button class="btn btn-main-primary btn-block" style="background-color: #f2003c" onclick="login()">ورود</button>
                                            <button class="btn btn-main-primary btn-block" style="background-color: #f2003c" onclick="RegisterCustomerShow()">مشتریان</button>

                                            @*</form>*@
                                            <div class="main-signin-footer mt-5">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div><!-- End -->
        </div>
    </div>

    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>
    <!-- JQuery min js -->
    <script src="~/admin/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Bundle js -->
    <script src="~/admin/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Ionicons js -->
    <script src="~/admin/Content/assets/plugins/ionicons/ionicons.js"></script>
    <!-- Moment js -->
    <script src="~/admin/Content/assets/plugins/moment/moment.js"></script>

    <!-- Rating js-->
    <script src="~/admin/Content/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/admin/Content/assets/plugins/rating/jquery.barrating.js"></script>

    <!--Internal  Perfect-scrollbar js -->
    <script src="~/admin/Content/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/admin/Content/assets/plugins/perfect-scrollbar/p-scroll.js"></script>
    <!--Internal Sparkline js -->
    <script src="~/admin/Content/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Scroll bar Js-->
    <script src="~/admin/Content/assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- right-sidebar js -->
    <script src="~/admin/Content/assets/plugins/sidebar/sidebar-rtl.js"></script>
    <script src="~/admin/Content/assets/plugins/sidebar/sidebar-custom.js"></script>
    <!-- Eva-icons js -->
    <script src="~/admin/Content/assets/js/eva-icons.min.js"></script>
    <!-- Sticky js -->
    <script src="~/admin/Content/assets/js/sticky.js"></script>
    <!-- custom js -->
    <script src="~/admin/Content/assets/js/custom.js"></script><!-- Left-menu js-->
    <script src="~/admin/Content/assets/plugins/side-menu/sidemenu.js"></script>

    <!-- Switcher js -->
    <script src="~/admin/Content/assets/switcher/js/switcher-rtl.js"></script>

    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    @*<script src="~/js/site.js"></script>*@
<script>
    function login() {

        //alert('start login()');

        var model = {
            'userName': $('#txtUserName').val(),
            'password': $('#txtPassword').val()
        };

        //alert(model);

        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: 'CallCenter/Login/Login',
            data: model,
            beforeSend: function(){
                $("#global-loader").show();
            },
            complete: function(){
                $("#global-loader").hide();
            },
            success: function (res) {
                if (res.isSuccess==true) {

                    swal.fire(
                        'موفق!',
                        'ورود موفق کاربر',
                        'success'
                    ).then(function (isConfirm) {
                        location.replace('CallCenter/Home/index');
                    });

                } else {
                    swal.fire(
                        'هشدار!',
                        res.errors,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText+'-'+status.responseText+'-'+error.responseText,
                    'warning'
                );

            }
        });

        //
    }

    function RegisterCustomerShow() {

        alert('start');


        $.ajax({
            dataType: 'json',
            type: 'Get',
            url: 'CallCenter/Customer/RegisterFiller',
            data: {},
            beforeSend: function () {
                $("#global-loader").show();
            },
            complete: function () {
                $("#global-loader").hide();
            },
            success: function (res) {
                if (res.isSuccess == true) {

                    swal.fire(
                        'موفق!',
                        'ورود موفق کاربر',
                        'success'
                    ).then(function (isConfirm) {
                        location.replace('CallCenter/Customer/Register');
                    });

                } else {
                    swal.fire(
                        'هشدار!',
                        res.errors,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText + '-' + status.responseText + '-' + error.responseText,
                    'warning'
                );

            }
        });

        //
    }
</script>
</body>

</html>
