@model WebSite.JourChin.Models.Product.ProductInfoModel
@{
    Layout = null;
}


<div class="weekly-best-seller-area py-3">
    <div class="container">
        @if (Model != null && Model.Id > 0)
        {
            var item = Model;

            <div class="row g-3" id="txt@(item.Id)">
                <div class="col-12 col-md-6" >
                    <div class="card weekly-product-card" style=" border-radius: 10px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                        <div class="card-body d-flex align-items-center">
                            <div class="product-thumbnail-side">
                                                                
                                <a class="product-thumbnail d-block" href="#">
                                    <img src="~/img/product/product.jpg" alt="ProductPicture">
                                </a>
                            </div>
                            <div class="product-description">
                                <p class="product-title d-block">
                                    <i class="lni lni-clipboard"></i>@(item.DisplayName)
                                </p>
                                <p class="sale-price">
                                    <i class="lni lni-library"></i>@(item.BrandName)
                                </p>
                                <p class="product-rating">بارکد: @(item.ProductCode)</p>
                                <button class="btn btn-success btn-sm add2cart-notify float-right" href="#" onclick="additionToList('@item.Id')">
                                    <i class="lni lni-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
        else
        {
            <p class="text-danger">اطلاعات یافت نشد</p>
        }
    </div>

</div>
