<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="JourChin Ofough Korosh PhoneOrder">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#d94c4c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- The above tags *must* come first in the head, any other head content must come *after* these tags-->
    <!-- Title-->
    <title>جورچین</title>

    <!-- Favicon-->
    <link rel="icon" href="~/favicon.png">
    <!-- Apple Touch Icon-->
    <link rel="apple-touch-icon" href="~/favicon.png">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="~/style.css">
    <link href="~/css/loader.css" rel="stylesheet" />
    <!-- Web App Manifest-->
    <link rel="manifest" href="~/manifest.json">
    <!-- Toast-->
    <link href="~/css/toastr.css" rel="stylesheet" />
    <!-- Sweetalert2 -->
    <link href="~/js/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

</head>
<body>
    <!-- Preloader-->

    <div class="preloader" id="preloader">
        <div class="spinner-grow text-danger" role="status">
            <div class="sr-only">بارگذاری...</div>
        </div>
    </div>

    <div id="ajax-loader" class="ajax-loader">
        <img src="~/img/loader.svg" class="loader-img" alt="لودر">
    </div>

    <!-- Header Area-->
    <div class="header-area" id="headerArea">
        <div class="container h-100 d-flex align-items-center justify-content-between">
            @{
                string backUrl = "/home/index";

                if (ViewBag.BackUrlArrow != null && !string.IsNullOrWhiteSpace(ViewBag.BackUrlArrow))
                {
                    backUrl = ViewBag.BackUrlArrow;
                }
            }
            <div class="back-button d-flex float-right"><a href="@backUrl"><i class="lni lni-arrow-right"></i></a></div>
            <!-- Logo Wrapper-->
            <div class="logo-wrapper"><a href="/home/index"><img src="~/img/brand/logo-with-name.png" style="width:45%;" alt="Ok Logo"></a></div>
            <!-- Search Form-->
            @* Navbar Toggler*@
            <div class="suha-navbar-toggler d-flex flex-wrap float-left" id="suhaNavbarToggler" onclick="showUserProfile()"><span></span><span></span><span></span></div>
        </div>
    </div>



    <div class="page-content-wrapper">
        @RenderBody()
    </div>
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
        <!-- Sidenav Profile-->
        <div class="sidenav-profile">
            <div class="user-profile"><img src="~/img/bg-img/user_profile.svg" alt=""></div>
            <div class="user-info" id="userProfile">

            </div>
        </div>
        <!-- Sidenav Nav-->
        @*<ul class="sidenav-nav pl-0">
                <li><a href="profile.html"><i class="lni lni-user"></i>پروفایل من</a></li>
                <li><a href="notifications.html"><i class="lni lni-alarm lni-tada-effect"></i>اطلاعیه ها <span class="ml-3 badge badge-warning">3</span></a></li>
                <li class="suha-dropdown-menu">
                    <a href="#"><i class="lni lni-cart"></i>صفحات خرید</a>
                    <ul>
                        <li><a href="shop-grid.html">- فروشگاه شبکه</a></li>
                        <li><a href="shop-list.html">- لیست فروشگاه</a></li>
                        <li><a href="single-product.html">- مشخصات محصول</a></li>
                        <li><a href="featured-products.html">- محصولات برجسته</a></li>
                        <li><a href="flash-sale.html">- فروش فلش</a></li>
                    </ul>
                </li>
                <li><a href="pages.html"><i class="lni lni-empty-file"></i>تمام صفحات</a></li>
                <li class="suha-dropdown-menu">
                    <a href="wishlist-grid.html"><i class="lni lni-heart"></i>علاقه مندی های من</a>
                    <ul>
                        <li><a href="wishlist-grid.html">- شبکه مورد علاقه</a></li>
                        <li><a href="wishlist-list.html">- لیست دلخواه</a></li>
                    </ul>
                </li>
                <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
                <li><a href="#" onclick="logout()"><i class="lni lni-power-switch"></i>خروج از سیستم</a></li>
            </ul>*@
        <!-- Go Back Button-->
        <div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-right"></i></div>
    </div>

    <!-- Internet Connection Status-->
    <div class="internet-connection-status" id="internetStatus"></div>

    <!-- Footer Nav-->
    <div class="footer-nav-area" id="footerNav">
        <div class="container h-100 px-0">
            <div class="suha-footer-nav h-100">
                <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                    <li class="active">
                        <a href="/home/Index"><i class="lni lni-home"></i>خانه</a>
                    </li>
                    <li>
                        <a href="/User/Index"><i class="lni lni-life-ring"></i>درخواست شروع</a>
                    </li>
                    <li>
                        <a href="/Orders/Index"><i class="lni lni-cart-full"></i>سفارشات</a>
                    </li>
                    <li>
                        <a href="pages.html"><i class="lni lni-heart"></i>صفحات</a>
                    </li>
                    <li>
                        <a href="#" onclick="logout()"><i class="lni lni-power-switch"></i>خروج</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- All JavaScript Files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/default/jquery.passwordstrength.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jarallax.min.js"></script>
    <script src="~/js/jarallax-video.min.js"></script>
    <script src="~/js/default/dark-mode-switch.js"></script>
    <script src="~/js/default/no-internet.js"></script>
    <script src="~/js/default/active.js"></script>
    <script src="~/js/pwa.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/js/toaster/toastr.min.js"></script>
    <script src="~/js/toaster/toast-top-left.js"></script>

    <script src="~/webcamjs/webcam.js"></script>

    <script src="~/js/home/showprofile.js"></script>
    <script src="~/js/home/logout.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>navigator.serviceWorker.register('service-worker.js');</script>
</body>
</html>
