@model WebSites.Panles.Models.Store.StoreGeneralShippingPriceModel

@{
    ViewData["Title"] = "CreateShippingPrice";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">

        <div class="card-body">

            <form action="/Admin/StoreShipping/CreateShippingPrice" method="post" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto d-block">
                        <div class="card-header">
                            <h5 class="card-title mg-b-20">ایجاد کرایه جدید</h5>
                        </div>
                        <div class="card card-body pd-20 pd-md-40 border shadow-none">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FromSum" class="control-label"></label>
                                <input asp-for="FromSum" class="form-control" type="number" required />
                                <span asp-validation-for="FromSum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ToSum" class="control-label"></label>
                                <input asp-for="ToSum" class="form-control" type="number" required />
                                <span asp-validation-for="ToSum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShippingPrice" class="control-label"></label>
                                <input asp-for="ShippingPrice" class="form-control" type="number" min="0" max="100" maxlength="3"  required />
                                <span asp-validation-for="ShippingPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" name="Status" id="cmbStatus" class="form-control select2">
                                    <option value="true" data-select2-id="true" selected>فعال</option>
                                    <option value="false" data-select2-id="false">غیرفعال</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value=" ایجاد " class="btn btn-danger btn-block" />
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="card-footer">
            <a href="/Admin/StoreShipping/GlobalShippingPrice">برگشت</a>
        </div>

    </div>
</div>

