@model WebSites.Panles.Models.Store.StoreShippingAreaTbl
@{
    ViewData["Title"] = "UpdateAreaShipping";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">

        <div class="card-body">

            <form action="/Admin/StoreShipping/UpdateAreaShipping" method="post" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto d-block">
                        <div class="card card-body pd-20 pd-md-40 border shadow-none">
                            <h5 class="card-title mg-b-20">ویرایش اطلاعات حمل جدید</h5>
                            <hr class="bg-danger border-danger" />

                            <input type="hidden" name="cityId" value="@ViewBag.CityId" />
                            <input type="hidden" name="storeIdStr" value="@ViewBag.StoreId" />
                            
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="AreaID" />
                            <input type="hidden" asp-for="StoreID" />

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label asp-for="ShippingPrice" class="control-label"></label>
                                <input asp-for="ShippingPrice" name="ShippingPrice" class="form-control" type="number" min="1000" step="100" required autocomplete="off" />
                                <span asp-validation-for="ShippingPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Priority" class="control-label"></label>
                                <input asp-for="Priority" name="Priority" class="form-control" type="number" min="1" step="1" required autocomplete="off" />
                                <span asp-validation-for="Priority" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" name="Status" id="cmbStatus" class="form-control select2">
                                    <option value="true" data-select2-id="true">فعال</option>
                                    <option value="false" data-select2-id="false">غیرفعال</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="ویرایش اطلاعات" class="btn btn-danger btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer">
            <a href="/Admin/StoreShipping/AreaShipping?storId=@ViewBag.StoreId&cityId=@ViewBag.CityId" class="btn btn-primary">برگشت</a>
        </div>

    </div>
</div>

