<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سامانه فروش تلفنی افق کوروش</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--- Style css -->
    <link href="~/admin/Content/assets/css-rtl/style.css" rel="stylesheet">

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="direction:rtl;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/admin/Content/assets/images/logo/logo.png" type="image/x-icon" class="wd-50-p" style="height:50px;">
                </a>
            </div>
        </nav>
    </header>
    @*<div class="main-sidebar-header active">
            <a class="desktop-logo logo-light active" href="index.html"><img src="~/admin/Content/assets/images/logo/logo.png" class="main-logo" alt="افق کوروش"></a>
        </div>*@
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @*<div id="map-canvas" style="width:100%;height:400px;"></div>*@
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="direction:rtl;align-content:center;align-items:center">
            &copy; فروشگاههای زنجیره ای افق کوروش
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/js/toaster/toastr.min.js"></script>
    <script src="~/js/toast.js"></script>



    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/notification.js"></script>
    
</body>
</html>
