@model List<Models.CustomerAddress.CustomerAddressModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CallCenter/Views/Shared/_Layout.cshtml";
}

<div>
    @{
        await Html.RenderPartialAsync("CustomerAddressPartialView", Model);
    }
</div>
<div class="card-footer">
    <a href="/CallCenter/Customer/Index" class="btn btn-outline-primary btn-rounded"> برگشت </a>
</div>
