@model List<Models.CustomerAddress.CustomerAddressModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CallCenter/Views/Shared/_Layout.cshtml";
}

<div>
    @{
        await Html.RenderPartialAsync("CustomerAddressPartialView", Model);
    }
</div>
