@{ 
    Layout = "_layout";
}
<div class="cart-lg cart-xl cart-md cart-sm cart-xs">
    <div class="card">
        <div class="card-body">
            <p class="text-danger">شما به عملیات مورد نظر دسترسی ندارید</p>
        </div>
    </div>
</div>
