@inherits LayoutComponentBase
@inject IAccountService AccountService


<div class="main">
    <Alert />
    <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
        <!-- Background Shape-->
        <div class="background-shape"></div>
        @Body
    </div>
</div>
