@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
<div>
    <FooterNavMenu />
</div>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    public bool LoggedIn;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AccountService.User == null || AccountService.User.UserId<=0)
        {
            LoggedIn = false;
            NavigationManager.NavigateTo("/account/login");
        }
        else
        {
            LoggedIn = true;
            NavigationManager.NavigateTo("");
        }
    }
}
