@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebSite.Safir</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>*@

<!-- Footer Nav-->
<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            @*<ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                <li class="active">
                    <a href="/home/Index"><i class="lni lni-home"></i>خانه</a>
                </li>
                <li>
                    <a href="/User/Index"><i class="lni lni-life-ring"></i>درخواست شروع</a>
                </li>
                <li>
                    <a href="/Orders/Index"><i class="lni lni-cart-full"></i>سفارشات</a>
                </li>
                <li>
                    <a href="pages.html"><i class="lni lni-heart"></i>صفحات</a>
                </li>
                <li>
                    <a href="#" onclick="logout()"><i class="lni lni-power-switch"></i>خروج</a>
                </li>
            </ul>*@
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
