@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center row">
        <div class="card ml-2 mr-2" style="width: 15rem;height:17rem">
            <img class="card-img-top img-thumbnail" src="~/admin/Content/assets/img/ownimage/CallCenter.jpg" style="width:15rem;height:13rem;" alt="Card image cap">
                
            </img>
            <div class="card-body">
                <a href="/CallCenter/Login/Login" class="card-link">پنل کال سنتر</a>
            </div>
        </div>

        <div  class="card ml-2 mr-2" style="width: 15rem;height:17rem">
            <img class="card-img-top img-thumbnail" src="~/admin/Content/assets/img/ownimage/Admin.png" style="width:15rem;height:13rem;" alt="Card image cap">
            <div class="card-body">
                <a href="/Admin/Home/Index" class="card-link">پنل مدیریت</a>
            </div>
        </div>
    </div>
