@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center row" style="align-content:center;align-items:center">
        <div class="col-lg-4 col-md-4">
            <div class="card mg-b-20 text-center">
                <div class="card-body">
                    <img src="~/admin/Content/assets/img/svgicons/note_taking.svg" alt="" class="wd-40p text-danger" style="height:100px;">
                    <h5 class="mg-b-10 mg-t-15 tx-18">پنل کال سنتر</h5>
                    <a href="/CallCenter/Login/Login" class="text-danger btn btn-warning btn-block ">برای ورود کلیک کنید</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card mg-b-20 text-center">
                <div class="card-body">
                    <img src="~/admin/Content/assets/img/svgicons/Shop.svg" alt="" class="wd-40p text-danger" style="height:100px;">
                    <h5 class="mg-b-10 mg-t-15 tx-18">پنل فروشگاهی</h5>
                    <a href="/Stores/Home/Login" class="text-danger btn btn-warning btn-block ">برای ورود کلیک کنید</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card mg-b-20 text-center">
                <div class="card-body">
                    <img src="~/admin/Content/assets/img/svgicons/imac.svg" alt="" class="wd-40p" style="height:100px;">
                    <h5 class="mg-b-10 mg-t-15 tx-18">پنل مدیریت</h5>
                    <a href="/Admin/Home/Login" class="text-danger btn btn-warning btn-block ">برای ورود کلیک کنید</a>
                </div>
            </div>
        </div>

    </div>
