@using System.Globalization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="سامانه فروش تلفنی افق کورش">
    <meta name="Author" content="Behsam Co">

    <title>سامانه فروش تلفنی افق کوروش</title>


    <link rel="icon" href="~/admin/Content/assets/images/logo/logoshort.png" type="image/x-icon">
    <!-- Icons css -->
    <link href="~/admin/Content/assets/css/icons.css" rel="stylesheet">
    <!--  Custom Scroll bar-->
    <link href="~/admin/Content/assets/plugins/mscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <!--  Sidebar css -->
    <link href="~/admin/Content/assets/plugins/sidebar/sidebar.css" rel="stylesheet">
    <!-- Sidemenu css -->
    <link rel="stylesheet" href="~/admin/Content/assets/css-rtl/sidemenu.css">
    <!-- Internal Select2 css -->
    <link href="~/admin/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <!--Internal  Datetimepicker-slider css -->
    <link href="~/admin/Content/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
    <link href="~/admin/Content/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link href="~/admin/Content/assets/plugins/pickerjs/picker.min.css" rel="stylesheet">
    <!-- Internal Spectrum-colorpicker css -->
    <link href="~/admin/Content/assets/plugins/spectrum-colorpicker/spectrum.css" rel="stylesheet">
    <!--  Owl-carousel css-->
    <link href="~/admin/Content/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
    <link href="~/admin/Content/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link href="~/admin/Content/assets/plugins/pickerjs/picker.min.css" rel="stylesheet">
    <link href="~/admin/Content/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <!-- Maps css -->
    <link href="~/admin/Content/assets/plugins/jqvmap/jqvmap.min.css" rel="stylesheet">
    <!--Internal  treeview -->
    <link href="~/admin/Content/assets/plugins/treeview/treeview-rtl.css" rel="stylesheet" type="text/css" />
    <!--- Style css -->
    <link href="~/admin/Content/assets/css-rtl/style.css" rel="stylesheet">
    <!--- Dark-mode css -->
    <link href="~/admin/Content/assets/css-rtl/style-dark.css" rel="stylesheet">
    <!---Skinmodes css-->
    <link href="~/admin/Content/assets/css-rtl/skin-modes.css" rel="stylesheet">

    <!---Switcher css-->
    <link href="~/admin/Content/assets/switcher/css/switcher-rtl.css" rel="stylesheet">
    <link href="~/admin/Content/assets/switcher/demo.css" rel="stylesheet">
    <link href="~/admin/Content/assets/css-rtl/CustomeStyle.css" rel="stylesheet" />



    <!---SweetAlert css-->
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />

    <link href="~/js/toaster/toastr.css" rel="stylesheet" />



    @RenderSection("Styles", false)
    @RenderSection("ScriptsTop", false)

    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/notification.js"></script>

</head>
<body class="main-body app sidebar-mini">


    <!-- Loader -->
    <div id="global-loader">
        <img src="~/admin/Content/assets/img/loader.svg" class="loader-img" alt="لودر">
    </div>

    <div class="page-loader">
        <div class="text-center mg-b-20 ">
            <button class="btn btn-danger" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                در حال بارگزاری اطلاعات ...
            </button>
        </div>
    </div>
    <!-- /Loader -->
    <!-- main-sidebar -->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar sidebar-scroll">
        <div class="main-sidebar-header active">
            <a class="desktop-logo logo-light active" href="index.html"><img src="~/admin/Content/assets/images/logo/logoshort.png" class="main-logo" alt="افق کوروش"></a>
            <a class="desktop-logo logo-dark active" href="index.html"><img src="~/admin/Content/assets/images/logo/logoshort.png" class="main-logo dark-theme" alt="افق کوروش"></a>
            <a class="logo-icon mobile-logo icon-light active" href="index.html"><img src="~/admin/Content/assets/images/logo/logoshort.png" logo-icon" alt="افق کوروش"></a>
            <a class="logo-icon mobile-logo icon-dark active" href="index.html"><img src="~/admin/Content/assets/images/logo/logoshort.png" class="logo-icon dark-theme" alt="افق کوروش"></a>
        </div>
        <div class="main-sidemenu">
            <ul class="side-menu">
                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <span class="side-menu__label">مدیریت شعب</span>
                        <i class="angle fe fe-chevron-down"></i>
                    </a>
                    <ul class="slide-menu">
                        <li><a class="slide-item" href="/Admin/Store/Index">مشاهده شعب فروشگاهی</a></li>
                        <li><a class="slide-item" href="/Admin/TimeSheet/Index">زمانبندی فروشگاه ها</a></li>
                        <li><a class="slide-item" href="/Admin/InActive/Index">تعطیلی فروشگاه ها</a></li>
                    </ul>
                </li>

                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <span class="side-menu__label">مدیریت کالاها</span>
                        <i class="angle fe fe-chevron-down"></i>
                    </a>
                    <ul class="slide-menu">
                        <li><a class="slide-item" href="/Admin/Category/Index">مشاهده دسته بندی ها</a></li>
                        <li><a class="slide-item" href="/Admin/Product/Index">مشاهده محصولات</a></li>
                    </ul>
                </li>

                <li class="slide">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <span class="side-menu__label">مدیریت سیستم</span>
                        <i class="angle fe fe-chevron-down"></i>
                    </a>
                    <ul class="slide-menu">
                        <li><a class="slide-item" href="/Admin/Application/Index">مدیریت سیستمها</a></li>
                        <li><a class="slide-item" href="/Admin/User/Index">مدیریت کاربران</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </aside>
    <!-- main-sidebar -->
    <!-- main-content -->
    <div class="main-content app-content">
        <!-- main-header opened -->
        <div class="main-header sticky side-header nav nav-item">
            <div class="container-fluid">
                <div class="main-header-left ">
                    <div class="responsive-logo">
                        <a href="index.html"><img src="~/admin/Content/assets/img/brand/logo.png" class="logo-1" alt="لوگو"></a>
                        <a href="index.html"><img src="~/admin/Content/assets/img/brand/logo-white.png" class="dark-logo-1" alt="لوگو"></a>
                        <a href="index.html"><img src="~/admin/Content/assets/img/brand/favicon.png" class="logo-2" alt="لوگو"></a>
                        <a href="index.html"><img src="~/admin/Content/assets/img/brand/favicon.png" class="dark-logo-2" alt="لوگو"></a>
                    </div>
                    <div class="app-sidebar__toggle" data-toggle="sidebar">
                        <a class="open-toggle" href="#"><i class="header-icon fe fe-align-left"></i></a>
                        <a class="close-toggle" href="#"><i class="header-icons fe fe-x"></i></a>
                    </div>

                </div>
                <div class="main-header-right">

                    <div class="nav nav-item  navbar-nav-right ml-auto">

                        <div class="dropdown main-header-notification nav-item ">
                            <a class="new nav-link" href="#" onclick="showNotification()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class=" pulse"></span>
                            </a>
                            <div class="dropdown-menu" id="divShowNotification">

                            </div>
                        </div>

                        <div class="dropdown nav-item">
                            <a class="new nav-link" href="#"
                               onclick="logout()">
                                <i class="fa fa-power-off text-danger " aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="dropdown main-header-message right-toggle">
                            <a class="nav-link pr-0" data-toggle="sidebar-left" data-target=".sidebar-left" onclick="ShowProfile()">
                                <i class="fa fa-user-circle text-primary " aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main-header -->
        <!-- container -->
        @RenderBody()
    </div>
    <!-- Container closed -->
    <!-- Sidebar-right-->
    <div class="sidebar sidebar-left sidebar-animate">
        <div class="panel panel-primary card mb-0 box-shadow" id="divUserProfile">

        </div>
    </div>
    <!--/Sidebar-right-->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up bg-danger"></i></a>

    <!-- JQuery min js -->
    <script src="~/admin/Content/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="~/admin/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Moment js -->
    <script src="~/admin/Content/assets/plugins/moment/moment.js"></script>

    <!-- Ionicons js -->
    <script src="~/admin/Content/assets/plugins/ionicons/ionicons.js"></script>

    <!-- Internal Treeview js -->
    <script src="~/admin/Content/assets/plugins/treeview/treeview.js"></script> 

    <!-- Rating js-->
    <script src="~/admin/Content/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/admin/Content/assets/plugins/rating/jquery.barrating.js"></script>

    <!--Internal  Perfect-scrollbar js -->
    <script src="~/admin/Content/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/admin/Content/assets/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!--Internal Sparkline js -->
    <script src="~/admin/Content/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Custom Scroll bar Js-->
    <script src="~/admin/Content/assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- right-sidebar js -->
    <script src="~/admin/Content/assets/plugins/sidebar/sidebar-rtl.js"></script>
    <script src="~/admin/Content/assets/plugins/sidebar/sidebar-custom.js"></script>
    <!-- Eva-icons js -->
    <script src="~/admin/Content/assets/js/eva-icons.min.js"></script>
    <!--Internal  Chart.bundle js -->
    <script src="~/admin/Content/assets/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Moment js -->
    <script src="~/admin/Content/assets/plugins/raphael/raphael.min.js"></script>
    <!--Internal  Flot js-->
    <script src="~/admin/Content/assets/plugins/jquery.flot/jquery.flot.js"></script>
    <script src="~/admin/Content/assets/plugins/jquery.flot/jquery.flot.pie.js"></script>
    <script src="~/admin/Content/assets/plugins/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/admin/Content/assets/plugins/jquery.flot/jquery.flot.categories.js"></script>
    <script src="~/admin/Content/assets/js/dashboard.sampledata.js"></script>
    <script src="~/admin/Content/assets/js/chart.flot.sampledata.js"></script>
    <script src="~/admin/Content/assets/js/modal-popup.js"></script>
    <!--Internal  index js -->
    <script src="~/admin/Content/assets/js/index.js"></script>
    <script src="~/admin/Content/assets/js/jquery.vmap.sampledata.js"></script>
    <!-- Sticky js -->
    <script src="~/admin/Content/assets/js/sticky.js"></script>
    <!-- custom js -->
    <script src="~/admin/Content/assets/js/custom.js"></script><!-- Left-menu js-->
    <script src="~/admin/Content/assets/plugins/side-menu/sidemenu.js"></script>
    <script src="~/admin/Content/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
    <script src="~/admin/Content/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <!--Internal  pickerjs js -->
    <script src="~/admin/Content/assets/plugins/pickerjs/picker.min.js"></script>
    <script src="~/admin/Content/assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>
    <!-- Switcher js -->
    <script src="~/admin/Content/assets/switcher/js/switcher-rtl.js"></script>
    <script src="~/admin/Content/assets/Script/Common.js"></script>
    <script src="~/admin/Content/assets/Script/ASPSnippets_Pager.min.js"></script>


    <!--Internal  Form-wizard js -->
    <script src="~/admin/Content/assets/js/form-wizard.js"></script>

    <!-- Eva-icons js -->
    <script src="~/admin/Content/assets/js/eva-icons.min.js"></script>
    <!--Internal  jquery.maskedinput js -->
    <script src="~/admin/Content/assets/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>
    <!--Internal  spectrum-colorpicker js -->
    <script src="~/admin/Content/assets/plugins/spectrum-colorpicker/spectrum.js"></script>
    <!-- Internal Select2.min js -->
    <script src="~/admin/Content/assets/plugins/select2/js/select2.min.js"></script>
    <!--Internal Ion.rangeSlider.min js -->
    <script src="~/admin/Content/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/admin/Content/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <!-- Ionicons js -->
    <script src="~/admin/Content/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
    <!--Internal  pickerjs js -->
    <script src="~/admin/Content/assets/plugins/pickerjs/picker.min.js"></script>
    <!-- Internal form-elements js -->
    <script src="~/admin/Content/assets/js/form-elements.js"></script>
    <!--Internal  Parsley.min js -->
    <script src="~/admin/Content/assets/plugins/parsleyjs/parsley.min.js"></script>
    <!-- Internal Form-validation js -->
    <script src="~/admin/Content/assets/js/form-validation.js"></script>



    <!---SweetAlert js-->
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script src="~/js/site.js"></script>

    <script src="~/js/toaster/toastr.min.js"></script>
    <script src="~/js/toast.js"></script>

    <script src="~/js/Admin/layout.js"></script>

    @RenderSection("Scripts", false)

    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/notification.js"></script>
    <script src="~/usernotification.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlOA0kfEdoq8TnAZl7K1XBgBsAKRopbYY">
    </script>
</body>
</html>
