@model List<BehsamFramework.Models.TimeSheetTableModel>
@{
    ViewData["Title"] = "GetTimeSheet";
    Layout = "~/Areas/CallCenter/Views/Shared/_Layout.cshtml";
}

<div class="card ">
    <div class="card-body">
        <h5 class="card-title ">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            @if (ViewBag.ToDayDescription != null && !string.IsNullOrEmpty(ViewBag.ToDayDescription))
            {

                <span>@ViewBag.ToDayDescription</span>
            }
        </h5>
        <hr />

        <div class="table-responsive" tabindex="1" style="overflow:auto; outline: none;">
            <table class="table table-striped table-hover mg-b-0 text-md-nowrap">
                <thead>
                    <tr>
                        <th rowspan="1" colspan="1">ردیف</th>
                        <th rowspan="1" colspan="1">ساعت شروع</th>
                        <th rowspan="1" colspan="1">ساعت خاتمه</th>
                        <th rowspan="1" colspan="1">عملیات</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var time in Model)
                        {
                            <tr>
                                <td>
                                    @time.RowNum
                                </td>
                                <td>@time.StartTime</td>
                                <td>@time.EndTime</td>
                                <td>
                                    @if (time.Status)
                                    {
                                        <a href="/CallCenter/Order/GetStoreOrder?customerId=@ViewBag.CustomerId&startTime=@time.StartTime.ToString("c",CultureInfo.InvariantCulture)&endTime=@time.EndTime.ToString("c",CultureInfo.InvariantCulture)&address=@ViewBag.AddressId">
                                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

