@model Models.Order.CachedOrderInfo;
@{
    Layout = null;
}
<input type="hidden" value="@ViewBag.CustomerId" id="txtCustomerId" />
<input type="hidden" value="@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)" id="txtStoreId" />
<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card" id="invoiceDetails">

        </div>
    </div>
</div>


@section Scripts
{
    <script>

        function showInvoiceReady() {
            let storeId = $('#txtStoreId').val();
            let customerId = $('#txtCustomerId').val();

            var postData = {
                'storeId': storeId,
                'customerId': customerId
            };

            $('#invoiceDetails').Html('');

            $.ajax(
                {
                    url: '/CallCenter/Order/ShowInvoice',
                    type: 'Post',
                    data: postData,
                    beforeSend: function () {
                        showBehsamLoading();
                    },
                    success: function (result, status, err) {
                        $('#invoiceDetails').Html(result);
                    },
                    error: function (request, status, error) {
                        console.log(request);
                    },
                    complete: function () {
                        hideBehsamLoading();
                    }
                });
        }

        $(document).ready(function () {
            showCartDetails();
            showInvoiceReady();
        });

        
    </script>
}
