@model Models.Order.CachedOrderInfo;
@{
    Layout = "_Layout";
}
<input type="hidden" value="@ViewBag.CustomerId" id="txtCustomerId" />
<input type="hidden" value="@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)" id="txtStoreId" />
<div class="row w-100">
    <div class="col-xl-12 col-md-12 col-sm-12"  id="showInvoiceDetails">

    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            console.log('ready');

            function showInvoiceReady() {

                let storeId = $('#txtStoreId').val();
                let customerId = $('#txtCustomerId').val();

                var postData = {
                    'storeId': storeId,
                    'customerId': customerId
                };

                $('#invoiceDetails').html('');

                $.ajax(
                    {
                        url: '/CallCenter/Order/ShowInvoice',
                        type: 'Post',
                        data: postData,
                        beforeSend: function () {
                            console.log('before');
                            showBehsamLoading();
                        },
                        success: function (result, status, err) {
                            console.log('success');
                            $('#showInvoiceDetails').html(result);
                        },
                        error: function (request, status, error) {
                            console.log('error');
                            console.log(request);
                        },
                        complete: function () {
                            console.log('complete');
                            hideBehsamLoading();
                        }
                    });
            }

            showInvoiceReady();

            showCartDetails();

            
        });
    </script>
}
